%h1 All Products
= link_to 'Add', new_product_path
%table.u-full-width
  %thead
    %tr
      %th Name
      %th Description
      %th Photo
      %th Stok
      %th Sku
      %th Price
      %th Color
      %th Size
      %th{:colspan => "2"} Options
  %tbody
  - @products.each do |product|
    %tr
      %td= product.name
      %td= product.description
      %td
        %img{:src => product.photo, :class => 'thumb'}
      %td= product.qty_in_stock
      %td= product.sku
      %td
        $
        =product.price
      %td= product.color
      %td= product.size

      %td= link_to 'Show', product_path(product)
      %td= link_to 'Edit', edit_product_path(product)