%h1 All Products

- flash.each do |name, msg|
  = content_tag :div, msg, class: name

%table
  %tr
    %th Name
    %th Description
    %th{:colspan => "2"}
  - @products.each do |product|
    %tr
      %td= product.name
      %td= product.description
      %td= link_to 'Show', product_path(product)
      %td
        - if admin?
          = link_to edit_product_path(product) do
            %i.fa.fa-pencil-square-o 

