%h1 View Product
%p
  Name:
  = @product.name
%p
  Description:
  = @product.description
%p
  SKU:
  = @product.sku
%p
  Price:
  = @product.price
%p
  Size:
  = @product.size
%p
  Color:
  = @product.color

