%h1 View Product
- flash.each do |name, msg|
  = content_tag :div, msg, class: name

.row
  .five.columns
    %img.u-max-full-width{src: @product.photo}

  .seven.columns
    %p
      Name:
      = @product.name
    %p
      Description:
      = @product.description
    %p
      Price:
      = @product.price
    %p
      SKU:
      = @product.sku
    %p
      Size:
      = @product.size
    %p
      Color:
      = @product.color

.row
  .five.columns
    -@product.categories.each do |category|
      =link_to category.name, categories_path+'/'+category.id.to_s+products_path
      ,
  .seven.columns

    = link_to 'Add', new_product_path
    = link_to 'Edit', edit_product_path(@product)
    = link_to 'Delete', product_path(@product), method: :delete
