!!!
%html
  %head
    %link{:href => '/css/normalize.css', :rel => 'stylesheet', :media =>'all'}
    %link{:href => '/css/skeleton.css', :rel => 'stylesheet', :media =>'all'}
    %link{:href => '/css/style.css', :rel => 'stylesheet', :media =>'all'}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Hunter's Hella Hot Shoppe
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      %div#logo
        %p
          = link_to("Hunter\'s Hella Hot Shoppe", "/")
      %div#nav-menu
        %ul
          - if logged_in?
            %li
              Howdy,
              = current_user.username
              !
            %li
              = link_to("Home", "/")
            %li
              = link_to("Log Out", "/logout")
          - else
            %li
              = link_to("Log In", "/sessions/new")
            %li
              = link_to("Sign Up", "/users/new")

          %li
            = link_to("Categories", "/categories")

    %div.container
      = yield
    %div#cart-div
      %div.title
        %i.fa.fa-shopping-cart
          Your cart
        %i.fa.fa-usd
          0.00
      %ul
      %div.checkout
        = #link_to("checkout")

    %footer
      %p González-Melton Productions, Copyright 2016
